.dashboardContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.searchBarContainer {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.searchBar {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.tableContainer {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
}

.stockCol {
  width: 120px;
  text-align: center;
}

.priceCol {
  width: 120px;
  text-align: center;
}